<!DOCTYPE html>
<html>

<head>
    <title>Videos</title>
    <link rel="stylesheet" href="static/styles.css">
    <script src="https://unpkg.com/htmx.org@1.9.12"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.15.1/cdn/themes/light.css" />
    <script type="module" src="https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.15.1/cdn/shoelace.js"></script>
</head>

<body hx-get="videocontainer/{{selected_date}}/{{selected_source}}{{get_detected('?')}}" hx-target="#video-container"
    hx-swap="innerHTML" hx-trigger="load">
    <div class="sidebar">
        <sl-radio-group value="1">
            {% for date in dates %}
            <sl-radio-button value="{{'1' if date==selected_date else '0'}}">
                <a href="?date={{date}}&source={{selected_source}}{{get_detected()}}">{{date}}</a>
            </sl-radio-button>
            {% endfor %}
        </sl-radio-group>


        <sl-radio-group value="1">
            {% for source in sources %}
            <sl-radio-button value="{{'1' if source==selected_source else '0'}}">
                <a href="?date={{selected_date}}&source={{source}}{{get_detected()}}">{{source}}</a>
            </sl-radio-button>
            {% endfor %}
        </sl-radio-group>

        <sl-radio-group value="1">
            <sl-radio-button value="{{'1' if detected==None}}">
                <a href="?date={{selected_date}}&source={{selected_source}}">All videos</a>
            </sl-radio-button>
            <sl-radio-button value="{{'1' if detected==True else '0'}}">
                <a href="?date={{selected_date}}&source={{selected_source}}&detected=True">Objects detected</a>
            </sl-radio-button>
            <sl-radio-button value="{{'1' if detected==False else '0'}}">
                <a href="?date={{selected_date}}&source={{selected_source}}&detected=False">No objects detected</a>
            </sl-radio-button>

        </sl-radio-group>
    </div>

    <div id="video-container"></div>

</body>
