<!DOCTYPE html>
<html>

<head>
    <title>Videos</title>
    <link rel="stylesheet" href="static/styles.css">
    <script src="https://unpkg.com/htmx.org@1.9.12"></script>
</head>

<body>
    <button hx-get="/hello" hx-swap="outerHTML">
        Click Me
    </button>
</body>
