<!DOCTYPE html>
<html>

<head>
    <title>Videos</title>
    <link rel="stylesheet" href="static/styles.css">
    <script src="https://unpkg.com/htmx.org@1.9.12"></script>
</head>

<body>
    {% for file in files %}
    <img src="snapshot/{{file}}" width="600" hx-get="videoplayer/{{file}}" hx-swap="outerHTML" />
    {% endfor %}


    <button hx-get="/hello" hx-swap="outerHTML">
        Click Me
    </button>
</body>
