<div class="video-container">
    {% for video in videos %}
    <div class="video-item">
        <div>
            {{video.timestamp.time().strftime("%H:%M")}}
            ({{", ".join(video.classifications) or "-"}})
        </div>
        <div id="{{video.guid}}">
            <img class="video" src="snapshot/{{video.guid}}" hx-target="this" hx-get="videoplayer/{{video.guid}}"
                hx-swap="outerHTML" />
        </div>
    </div>
    {% endfor %}
</div>
